Source: ros-galactic-septentrio-gnss-driver
Section: misc
Priority: optional
Maintainer: Septentrio <githubuser@septentrio.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libgeographic-dev, libpcap0.8-dev, ros-galactic-ament-cmake, ros-galactic-diagnostic-msgs, ros-galactic-geometry-msgs, ros-galactic-gps-msgs, ros-galactic-nav-msgs, ros-galactic-nmea-msgs, ros-galactic-rclcpp, ros-galactic-rclcpp-components, ros-galactic-rosidl-default-generators, ros-galactic-sensor-msgs, ros-galactic-tf2, ros-galactic-tf2-geometry-msgs, ros-galactic-tf2-ros, ros-galactic-ros-workspace, ros-galactic-rosidl-typesupport-fastrtps-c, ros-galactic-rosidl-typesupport-fastrtps-cpp
Homepage: https://github.com/septentrio-gnss/septentrio_gnss_driver
Standards-Version: 3.9.2

Package: ros-galactic-septentrio-gnss-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libgeographic-dev, libpcap0.8-dev, ros-galactic-diagnostic-msgs, ros-galactic-geometry-msgs, ros-galactic-gps-msgs, ros-galactic-nav-msgs, ros-galactic-nmea-msgs, ros-galactic-rclcpp, ros-galactic-rclcpp-components, ros-galactic-rosidl-default-runtime, ros-galactic-sensor-msgs, ros-galactic-tf2, ros-galactic-tf2-geometry-msgs, ros-galactic-tf2-ros, ros-galactic-ros-workspace
Description: ROSaic: C++ driver for Septentrio's mosaic receivers and beyond
